<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/diff2html@3.1.8/bundles/css/diff2html.min.css"
      integrity="sha256-JDuTv80/2mUu1FBkviyttybv8oWSYmqVttPo7VlCXfE="
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/diff@4.0.2/dist/diff.min.js"
      integrity="sha256-xofEpXTFTnsOK+GIsjgJc1ZN0kSE3KsTtZJ2GQaWs3I="
      crossorigin="anonymous"
    ></script>
    <style type="text/css">
      .d2h-files-diff {
        height: auto;
      }
      .d2h-file-list-title,
      .d2h-file-list,
      .d2h-file-name {
        display: none;
      }
    </style>

    <script
      src="https://cdn.jsdelivr.net/npm/diff2html@3.1.8/bundles/js/diff2html.min.js"
      integrity="sha256-jaOrunaAmlbF5x0BUXSJbKimY9Urt8yORnOg3A9BDfM="
      crossorigin="anonymous"
    ></script>

    <script type="module">
      const entries = <mt:Var name="entries" to_json="1" />;
      function renderProgress(current, total) {
        document.querySelector(
          "#progress"
        ).textContent = `${current} / ${total}`;
        if (current === total) {
          document.querySelector("#progress").textContent += " Complete!";
        }
      }

      document.querySelector("#do-check").addEventListener("click", () => {
        document.querySelector("#result").innerHTML = "";
        renderProgress(0, entries.length);

        let promise = Promise.resolve();
        entries.forEach((e, i) => {
          const formats = [
            document.querySelector("#left").value,
            document.querySelector("#right").value,
          ];
          let list;

          promise = promise.then(async () => {
            const res = await fetch(
              `<mt:CGIPath><mt:AdminScript>?__mode=checkhtmltexttransform_transform&id=${
                e.id
              }&formats=${formats.join(",")}`
            );
            const data = await res.json();
            list = data.entries[0];
          });

          promise = promise.then(() => {
            renderProgress(i + 1, entries.length);
            if (list.every((d) => d === list[0])) {
              return;
            }

            const name = `<mt:CGIPath><mt:AdminScript>?__mode=view&_type=entry&blog_id=${e.blog_id}&id=${e.id}`;
            const maxLines = Reflect.apply(
              Math.max,
              null,
              list.map((s) => s.split("\n").length)
            );
            const diff = Diff.createTwoFilesPatch(
              name,
              name,
              list[0],
              list[1],
              undefined,
              undefined
            );

            const html = Diff2Html.html(diff, {
              matching: "lines",
              outputFormat: "side-by-side",
            });

            const div = document.createElement("div");
            div.classList.add("mt-3");
            div.innerHTML = `
      <div>
      <a href="${name}" target="_blank">${name}</a>
      </div>
      ${html}
      `;

            document.querySelector("#result").appendChild(div);
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row mt-3">
        <div class="col-6">
          <select id="left" class="form-control">
            <option value="traditional"><__trans phrase="r4606/6.5 or earlier, or UseTraditionalTransformer"></option>
            <option value="r4607"><__trans phrase="r4607/6.6"></option>
            <option value="r4608"><__trans phrase="r4608/6.6.2"></option>
          </select>
        </div>

        <div class="col-6">
          <select id="right" class="form-control">
            <option value="traditional"><__trans phrase="r4606/6.5 or earlier, or UseTraditionalTransformer"></option>
            <option value="r4607"><__trans phrase="r4607/6.6"></option>
            <option value="r4608" selected><__trans phrase="r4608/6.6.2"></option>
          </select>
        </div>

        <div class="col-12 mt-1">
          <button type="button" class="btn btn-primary w-100" id="do-check">
            <__trans phrase="Check">
          </button>
        </div>
      </div>

      <div id="progress" class="mt-3"></div>

      <div id="result" class="mt-3"></div>
    </div>
  </body>
</html>
